* GLOBAL */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

a, header li, .privacy {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

a:hover {
  color: #818181;
  transition: all .4s ease-in-out;
  cursor: pointer;
}




/* I know I'm repeating myself... It's for practice */

/* HEADER BEGINS */

header {
  background: #a44543;
  padding: 15px;
}

header .logo {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}

header .logo 
a {
  display: inline-block;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}


header .menu {
  display: inline-block;
  width: 20%; 
  margin-left: -4px;
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid rgb(129, 129, 129);
}

header .menu ul li {
  display: inline-block;
  padding-right: 10px; 
}

header .menu ul li {
  margin-right: 20px;
}

header .icon-links {
  display: inline-block; 
  width: 20%;
  margin-left: -4px;
  padding-left: 20px;
}

header .icon-links ul li {
  display: inline-block; 
  margin-left: 10px;
}

header .icon-links .quick-links {
  display: inline-block;
  margin-left: -4px;
  border-right: 1px solid rgb(129, 129, 129);
  padding-left: 20px;
  padding-right: 20px;
}

header .icon-links .privacy {
  display: inline-block;
  margin-left: -4px;
  padding-left: 20px;
}

header .search-area {
  text-align: right;
  display: inline-block;
  width: 30%;
}

header .search-area ul li {
  display: inline-block;
  color: white;
  text-decoration: none;
}

/* HEADER ENDS */

/* PROFILE-AREA BEGINS */
#profile-area {
  padding: 200px 15px 90px 15px;
}

#profile-area 
.profile-info 
.user-img {
  padding: 10px;
  display: inline-block;
}

#profile-area 
.profile-info 
.user-img img {
  border-radius: 50%;
}

#profile-area {
  background: url("https://static.pexels.com/photos/236047/pexels-photo-236047.jpeg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#profile-area 
.profile-info 
.user-details {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

#profile-area 
.profile-info 
.user-details 
h3 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-top: 40%;
  margin-bottom: 10px;
}

#profile-area 
.profile-info 
.user-details a {
  margin: -4px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  width: 45%;
  margin-right: 5%;
  background: rgb(172, 158, 141);
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

#profile-area 
.profile-info 
.user-details a:hover {
  background: #A44543;
  transition: .5s ease-in-out;
}

/* PROFILE-AREA ENDS */

/* CONTENT-AREA BEGINS */

#content-area {
background: #d7c595;
overflow: auto;
padding: 50px 0;
}

#content-area .side-column {
  float: left;
  width: 35%;
  margin:0 2.5%;
  max-width: 380px;
}

#content-area
.widget-box {
  padding: 15px;
  border-radius: 3px;
  background: #fff;
  margin: 0 0 15px 0;
  -webkit-box-shadow: 5px 0px 5px 2px rgba(194,188,194,1);
  -moz-box-shadow: 5px 0px 5px 2px rgba(194,188,194,1);
  box-shadow: 5px 0px 5px 2px rgba(194,188,194,1);
  overflow: auto;
}


#content-area .widget-box 
.head 
.widget-icon {
  background:rgb(190, 190, 192);
  text-align: center;

  height: 40px;
  width: 40px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#content-area .widget-box 
.head 
.widget-icon .fa {
  max-width: 50%;
  font-size: 20px;
}

#content-area .widget-box 
.head .widget-title {
  display: inline-block;
  padding: 0 0 0 15px;
}

#content-area .widget-box 
.head 
.widget-icon-container {
  display: inline-block;
}


#content-area .widget-box 
.head  {
  display: inline-block;
  padding: 0 0 5px 5px;
  width: 100%;
}

#content-area .widget-box 
.body {
  padding: 10px 0;
}

#content-area .widget-box 
.body a {
  color: #A44543;
  text-transform: uppercase;
  font-weight: 300;
}


/*MAIN CONTENT AREA BEGINS */


#content-area .main-area {
  float: left;
  width: 55%;
  margin: 0 2.5%;
}

#content-area .main-area .widget-box.submenu {
  padding: 0;
  margin: 0 0 20px 0;
}

#content-area .main-area .submenu ul {
  padding: 0;
  margin: 0;
  margin: 0 0 20px 0;
}

#content-area .main-area .submenu ul li {
  display: inline-block;
  padding: 10px;
  width: 20%;
  float: left;
  text-align: center;
  border-bottom: 3px solid #fff;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

#content-area .main-area .submenu ul li:hover {
   border-bottom: 3px solid #A44543;
   color: #A44543;
}

#content-area .main-area .submenu ul li:nth-child(5) {
  padding: 28px 0 21px;
}

#content-area .main-area .submenu ul li .fa {
  font-size: 30px;
}

#content-area .main-area .submenu ul li span {
  display: block;
  margin: 15px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}


/* POST AREA BEGINS HERE */

#content-area .main-area .widget-box.post {
  overflow: auto;
}

#content-area .main-area .widget-box.post .head .user-img-container img {
  width: 8%;
  display: inline-block;
  overflow: auto;
}

#content-area .main-area .widget-box.post .head .user-img {
  display: inline-block;
  float: left;
  background: url("http://leo-technologies.com/images/community-photo-03.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

#content-area .main-area .widget-box.post .head::after{
  content: " ";
  clear: both;
  display: table;
}

#content-area .main-area .widget-box.post .head .post-info {
  display: inline-block;
  width: 90%;
  padding: 5px 0;
  font-size: 18px;
}

#content-area .main-area .widget-box.post .head .post-info .post-date {
  display: block;
  float: left;
  width: 80%;
  margin: 10px 0 0 0;
  font-size: 14px;
}


#content-area .main-area .widget-box.post .head .post-info a {
  color: #A44543;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

#content-area .main-area .widget-box.post .head .post-info a:hover {
  color: rgb(150, 140, 140);
  transition: all .4s ease-in-out;
  cursor: pointer;
}




/* POST IMAGE BEGINS HERE */

#content-area .main-area .widget-box.post .body .post-img img {
  width: 100%;
  padding: 10px 0;
}

#content-area .main-area .widget-box.post .body .top-icons .fa-thumbs-up {
  margin-right: 15px;
}

#content-area .main-area .widget-box.post .body .top-icons span {
  float: right;
}

#content-area .main-area .widget-box.post .body .top-icons {
  color: grey;
  padding: 5px;
}



#content-area .main-area .widget-box.post .body .post-comments {
  margin: 25px 0
}

#content-area .main-area .widget-box.post .body .post-comments .user-img {
  width: 8%;
  display: inline-block;
  overflow: hidden;
  float: left;
}

#content-area .main-area .widget-box.post .body .post-comments::after{
  content: " ";
  clear: both;
  display: table;
}


#content-area .main-area .widget-box.post .body .post-comments .user-img img {
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px 15px 0 0;
}

#content-area .main-area .widget-box.post .body .post-comments .user-comments {
  background: #dbd9d9;
}

#content-area .main-area .widget-box.post .body .post-comments .user-comments {
  display: inline-block;
  width: 90%;
  font-size: 16px;
  margin: 14px 5px;
}


#content-area .main-area .widget-box.post .body .post-comments .user-comments .user-info {
  margin: 0 5px;
  padding: 10px 0;
}

#content-area .main-area .widget-box.post .body .post-comments .user-comments .user-info span.time {
  float: right;
}




#content-area .main-area .widget-box.post .body .post-comments .user-comments .user-info p {
  margin: 10px 0;
}





/* CHANGES TO FORMS BEGIN  */
/* 
#content-area .main-area .widget-box.post .body .post-form input .icons {
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px 15px 0 0;
} */

#content-area .main-area .widget-box.post .body .post-form {
 padding: 10px 0 0 0;
}

#content-area .main-area .widget-box.post .body .post-form .user-img {
  width: 8%;
  display: inline-block;
  overflow: hidden;
  float: left;
}

#content-area .main-area .widget-box.post .body .post-form::after{
  content: " ";
  clear: both;
  display: table;
}


#content-area .main-area .widget-box.post .body .post-form .user-img img {
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px 15px 0 0;
}


#content-area .main-area .widget-box.post .body .post-form .form-info {
  display: inline-block;
  width: 90%;
  font-size: 16px;
  margin: 30px 5px;
  padding: 5px 0;
  border-bottom: 2px solid lightgrey;
}

#content-area .main-area .widget-box.post .body .post-form .form-info input {
  width: 90%;
  border: none;
  font-size: 16px;
  
}

#content-area .main-area .widget-box.post .body .post-form .form-info .icons {
  float: right;
}


#content-area .main-area .widget-box.post .body .post-form .form-info .icons {
  float: right;
  color: grey;
}

